<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

    <div class='row'>
        <div class='col'>
            <div class='card'>
                <div class='card-body'>
                    <h4 class='card-title'>Bordered Table</h4>
                    <div  style="height: 100vh; overflow-y:scroll" class='table-responsive'>
                        <table  class='table table-bordered verticle-middle'>
                            <thead>
                                <tr>
                                    <th scope='col'>time</th>
                                    <th scope='col'>ts</th>
                                    <th scope='col'>id.resp_p</th>
                                    <th scope='col'>id.orig_p</th>
                                    <th scope='col'>orig_ip_bytes</th>
                                    <th scope='col'>conn_state</th>
                                    <th scope='col'>proto</th>
                                    <th scope='col'>resp_ip_bytes</th>
                                    <th scope='col'>label</th>
                                </tr>
                            </thead>
                            <tbody id="table">
                                <tr class='table-active'>
                                    <td>1545466932.337732</td>
                                    <td>1545466932.337732</td>
                                    <td>
                                        6667
                                    </td>
                                    <td>54582</td>
                                    <td>60</td>
                                    <td>S0</td>
                                    <td>tcp</td>
                                    
                                    <td>563</td>
                                    
                                    <td><span
                                            class='label gradient-9 btn-rounded'
                                        >C&C</span>
                                    </td>
                                </tr>

                                <tr class='table-primary'>
                                    <td>1545466932.337732</td>
                                    <td>
                                        6667
                                    </td>
                                    <td>54582</td>
                                    <td>60</td>
                                    <td>S0</td>
                                    <td>tcp</td>
                                    
                                    <td>563</td>
                                    
                                    <td><span
                                            class='label gradient-3 btn-rounded'
                                        >PortScan</span>
                                    </td>
                                </tr>

                                <tr class='table-success'>
                                    <td>1545466932.337732</td>
                                    <td>
                                        6667
                                    </td>
                                    <td>54582</td>
                                    <td>60</td>
                                    <td>S0</td>
                                    <td>tcp</td>
                                    
                                    <td>563</td>
                                    
                                    <td><span
                                            class='label gradient-4 btn-rounded'
                                        >Benign</span>
                                    </td>
                                </tr>

                                <tr class='table-info'>
                                    <td>1545466932.337732</td>
                                    <td>
                                        6667
                                    </td>
                                    <td>54582</td>
                                    <td>60</td>
                                    <td>S0</td>
                                    <td>tcp</td>
                                    
                                    <td>563</td>
                                    
                                    <td><span
                                            class='label gradient-1 btn-rounded'
                                        >Attack</span>
                                    </td>
                                </tr>

                                <tr class='table-warning'>
                                    <td>1545466932.337732</td>
                                    <td>
                                        6667
                                    </td>
                                    <td>54582</td>
                                    <td>60</td>
                                    <td>S0</td>
                                    <td>tcp</td>
                                    
                                    <td>563</td>
                                    
                                    <td>
                                        <span
                                            class='label gradient-3 btn-rounded'
                                        >PortScan</span>
                                    </td>
                                </tr>

                                <tr class='table-danger'>
                                    <td>1545466932.337732</td>
                                    <td>
                                        6667
                                    </td>
                                    <td>54582</td>
                                    <td>60</td>
                                    <td>S0</td>
                                    <td>tcp</td>
                                    
                                    <td>563</td>
                                    
                                    <td>
                                        <span
                                            class='label gradient-2 btn-rounded'
                                        >dDos</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>