<html lang='en'>

    <head>
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width,initial-scale=1' />
        <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
        <!-- Favicon icon -->
        <link rel='icon' type='image/png' sizes='16x16' href='/template/images/favicon.png' />
        <!-- Custom Stylesheet -->
        <link href='/template/css/style.css' rel='stylesheet' />

    </head>

    <body>

        <!--**********************************
        Main wrapper start
    ***********************************-->
        <div id='main-wrapper'>

            <div class='header' style='margin: 0; width: 100%'>
                <div class='header-content clearfix'>

                    <div class='nav-control'>
                        <div class='hamburger'>
                            <span class='toggle-icon'><i class='icon-menu'></i></span>
                        </div>
                    </div>
                    <div class='header-left'>
                        <div class='input-group icons'>
                            <div class='input-group-prepend'>
                                <span
                                    class='input-group-text bg-transparent border-0 pr-2 pr-sm-3'
                                    id='basic-addon1'
                                ><i class='mdi mdi-magnify'></i></span>
                            </div>
                            <input
                                id="search"
                                type='search'
                                class='form-control'
                                placeholder='Search Dashboard'
                                aria-label='Search Dashboard'
                            />
                            <div class='drop-down d-md-none'>
                                <form action='#'>
                                    <input type='text' class='form-control' placeholder='Search' />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='content-body' style='margin: 0;'>

                <div class='container-fluid'>
                    <div class='row'>
                        <div class='col'>
                            <div class='card'>
                                <div class='card-body'>
                                    <h4 class='card-title'>Bordered Table</h4>
                                    <div class='table-responsive'>
                                        <table  class='table table-bordered verticle-middle'>
                                            <thead>
                                                <tr>
                                                    <th scope='col'>ts</th>
                                                    <th scope='col'>id.resp_p</th>
                                                    <th scope='col'>id.orig_p</th>
                                                    <th scope='col'>orig_ip_bytes</th>
                                                    <th scope='col'>conn_state</th>
                                                    <th scope='col'>proto</th>
                                                    <th scope='col'>resp_ip_bytes</th>
                                                    <th scope='col'>label</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table">
                                                <tr class='table-active'>
                                                    <td>1545466932.337732</td>
                                                    <td>
                                                        6667
                                                    </td>
                                                    <td>54582</td>
                                                    <td>60</td>
                                                    <td>S0</td>
                                                    <td>tcp</td>
                                                    
                                                    <td>563</td>
                                                    
                                                    <td><span
                                                            class='label gradient-9 btn-rounded'
                                                        >C&C</span>
                                                    </td>
                                                </tr>

                                                <tr class='table-primary'>
                                                    <td>1545466932.337732</td>
                                                    <td>
                                                        6667
                                                    </td>
                                                    <td>54582</td>
                                                    <td>60</td>
                                                    <td>S0</td>
                                                    <td>tcp</td>
                                                    
                                                    <td>563</td>
                                                    
                                                    <td><span
                                                            class='label gradient-3 btn-rounded'
                                                        >PortScan</span>
                                                    </td>
                                                </tr>

                                                <tr class='table-success'>
                                                    <td>1545466932.337732</td>
                                                    <td>
                                                        6667
                                                    </td>
                                                    <td>54582</td>
                                                    <td>60</td>
                                                    <td>S0</td>
                                                    <td>tcp</td>
                                                    
                                                    <td>563</td>
                                                    
                                                    <td><span
                                                            class='label gradient-4 btn-rounded'
                                                        >Benign</span>
                                                    </td>
                                                </tr>

                                                <tr class='table-info'>
                                                    <td>1545466932.337732</td>
                                                    <td>
                                                        6667
                                                    </td>
                                                    <td>54582</td>
                                                    <td>60</td>
                                                    <td>S0</td>
                                                    <td>tcp</td>
                                                    
                                                    <td>563</td>
                                                    
                                                    <td><span
                                                            class='label gradient-1 btn-rounded'
                                                        >Attack</span>
                                                    </td>
                                                </tr>

                                                <tr class='table-warning'>
                                                    <td>1545466932.337732</td>
                                                    <td>
                                                        6667
                                                    </td>
                                                    <td>54582</td>
                                                    <td>60</td>
                                                    <td>S0</td>
                                                    <td>tcp</td>
                                                    
                                                    <td>563</td>
                                                    
                                                    <td>
                                                        <span
                                                            class='label gradient-3 btn-rounded'
                                                        >PortScan</span>
                                                    </td>
                                                </tr>

                                                <tr class='table-danger'>
                                                    <td>1545466932.337732</td>
                                                    <td>
                                                        6667
                                                    </td>
                                                    <td>54582</td>
                                                    <td>60</td>
                                                    <td>S0</td>
                                                    <td>tcp</td>
                                                    
                                                    <td>563</td>
                                                    
                                                    <td>
                                                        <span
                                                            class='label gradient-2 btn-rounded'
                                                        >dDos</span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='footer'>
                <div class='copyright'>
                    <p>Copyright &copy; Designed & Developed by
                        <a href='https://themeforest.net/user/quixlab'>Quixlab</a>
                        2018</p>
                </div>
            </div>
        </div>

        <script src='/template/plugins/common/common.min.js'></script>
        <script src='/template/js/custom.min.js'></script>
        <script src='/template/js/settings.js'></script>
        <script src='/template/js/gleek.js'></script>
        <script src='/template/js/styleSwitcher.js'></script>

        <script>
{{!--           
            const createRow = ({data, colorRow, colorLabel}) => {
            let body = document.querySelector('tbody');
                body.innerHTML = `<tr class='${colorRow}'>
                                    <td>${data.ts}</td> 
                                    <td> ${data.idresp_p} </td>
                                    <td>${data.idorig_p}</td>
                                    <td>${data.orig_ip_bytes}</td>
                                    <td>${data.conn_state}</td>
                                    <td>${data.proto}</td>
                                    <td>${data.resp_ip_bytes}</td>
                                    <td><span class="label ${colorLabel} btn-rounded" >${data.label}</span> </td> 
                                </tr>` + body.innerHTML;
            };

            const webSocket = new WebSocket('ws://localhost:3000');

            webSocket.addEventListener('open', () => {
                console.log('Connected to server socket');
            });
            webSocket.addEventListener('message', (message) => {
                let data = JSON.parse(message.data);
                switch ( Number( data.id_label)) {
                    
                    case 1:// Benign
                        createRow({ 
                            data:  JSON.parse(message.data),
                            colorRow: 'table-success',
                            colorLabel: 'gradient-4'    
                        });
                        break;
                    case 0: // attack
                        createRow({ 
                            data: JSON.parse(message.data),
                            colorRow: 'table-info',
                            colorLabel: 'gradient-1'    
                        });
                        break;
                    case 2: // C&C
                        createRow({ data:  JSON.parse(message.data), colorRow : 'table-active' , colorLabel : 'gradient-9'});
                        break;
                    case 3: // C&C
                        createRow({ data:  JSON.parse(message.data), colorRow :'table-active' ,colorLabel: 'gradient-9'} );
                        break;
                    case 4: // C&C
                        createRow({ data:  JSON.parse(message.data), colorRow :'table-active' ,colorLabel: 'gradient-9'} );
                        break;
                    case 5: // C&C
                        createRow({ data:  JSON.parse(message.data), colorRow :'table-active' ,colorLabel: 'gradient-9'} );
                        break;
                    case 6: // DDoS
                        createRow({data: JSON.parse(message.data),colorRow:'table-danger', colorLabel:'gradient-2'});
                        break;
                    case 7: // FileDownload
                        createRow({data: JSON.parse(message.data),colorRow:'table-warning', colorLabel : 'gradient-3'});
                        break;
                    case 10: // PartOfAHorizontalPortScan
                        createRow({data:  JSON.parse(message.data), colorRow : 'table-primary', colorLabel : 'gradient-3'})
                    default:
                        createRow({ data:  JSON.parse(message.data), colorRow :'table-active' ,colorLabel: 'gradient-9'} );
                        break;
                }
            }); --}}

        </script>

        <script type="module" src="/js/main.js"></script>

    </body>

</html>